<!DOCTYPE html>
<html>
<head>
  
	<title>LoginApp</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
             {{!-- {{#if user}} --}}
              <a href="/">Dashboard</a>
             <a href="/snippy">See all snippets</a>
             <a href="/users/logout">Logout</a>
              {{!-- {{else}} --}}
               <a href="/login">Login</a>
              <a href="/users/register">Register</a>
                {{!-- {{/if}} --}}
          </ul>

        </nav>
        <h3 class="text-muted">Sticky Snippets</h3>
      </div>


      <div class="row">
        <div class="col-lg-12">

      <main role="main" class="container">
     {{>flash}}
    {{{body}}}
  </main>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2015 LoginApp, Inc.</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
