<div class="container">
    <form action="/snippy/edit/{{id}}" method="post">
 <div class="form-group">
 <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="3">{{text}}</textarea>
        </div>
        <button type="submit">Submit</button> 
    </form>
</div>