<nav>
    <ul>
        <li><a href="/snippy">See all snippets</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>

<h2>Hello and welcome to the Snippet app!</h2>