{{!-- <form class="form-create" action="/create" method="post"></form>
<div class="container">
        <label>Title</label>
        <input type="text" name="snippetTitle" value=""><br>
        <label>Code</label>
        <textarea class="materialize-textarea" name="snippetCode" value=""></textarea><br>
        <button type="submit" >Create!</button>
    </form>
</div>
<h1>Make Snippets</h1>
 <ul> --}}
     {{!-- {{#each snippet}}
  <h1>{{title}}</h1>
   <li>{{ text}} - created: {{createdAt}} <a href="snippy/delete/{{id}}">Remove</a></li>
 {{/each}} --}}
   Just give me a freaking snippet yo!

<form action="/snippy" method="POST">
  <input type="text" placeholder="text" name="text">
  <button type="submit">Submit</button>
</form>

<br>
<a href="snippy">Make new snippets</a>