{{!-- <div class="container-create">

    <div class="col s12 m6">
        <div class="card blue-grey brown lighten-3, z-depth-5">
            <div class="card-content white-text">
                <span class="card-title">Create snippet</span>
                <form class="form-create" action="/create" method="post">
                    <label>Name your snippet:</label>
                    <input type='text' class="snippet-name" name="name"/>
                    <br>
                    <textarea class="show-snippet" name="snippet"></textarea>
                    <br>
                    <button type="submit" class="btn btn-warning btn-lg">Save</button>
                </form>
            </div>
            <p>
        </div>
    </div>
</div> --}}

<h1>Make Snippets</h1>
 <ul>
  {{#each snippet}}
  <li>{{ text}} - created: {{createdAt}} <a href="snippy/delete/{{id}}">Remove</a></li>
  {{/each}}
</ul>
<a href="snippy/create">Make new snippets</a>

